*{
    padding: 0;
    margin: 0;
    font-family: 'Viga','Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
.mx-auto{
    padding: 10px 0;
    height: 100px;
}
.sticky-top{
    box-shadow: 0 5px 5px black;
    z-index: 9;
}
.collapse ul li a{
    margin-right: 30px;
}
.main{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px ;
}
.profile{
    height: 50px;
    padding: 0 20px;
}
#sex{
    height: 50px;
    width: 50px;
    float: right;
}
#sex img{
    height: 100%;
    width: 100%;
}
#name{
    height: 100%;
    float: right;
    color: black;
    text-align: center;
    line-height: 50px;
    padding-right: 10px;
}
.foot{
    width: 100%;
    background: #FF8000;
    padding:  40px 40px 0 40px;
    margin-top: 100px;
}
.foot a{
    color: black;
}
.btn-outline-success{
    color: black;
    border: black solid 2px;
}
.btn-outline-success:hover{
    color: white;
    background: black;
    border: black solid 2px;
}
.foot a:hover{
    text-decoration: none;
    opacity: .7;
}
.foot p{
    color: black;
}
.col-sm-4{
    padding-left: 50px;
    min-width: 300px;
}
hr{
    margin: 1px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    min-width: 250px;
}
.card img{
    height: 250px;
    object-fit: cover;
}
.about-section{
    padding: 50px;
    text-align: center;
    box-shadow: 2px 5px 8px 5px rgba(0,0,0,0.2);
    color: black;
    margin-bottom: 100px;
}
.containe{
    padding: 0 16px;
}
.container::after, .row::after{
    content: "";
    clear: both;
    display: table;
}
.title{
    color: grey;
}
@media screen and (max-width: 650px){
    .column {
      width: 100%;
      display: block;
    }
}
.bg-color{
    background: #FF8000;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: black;
}
.navbar-dark .navbar-nav .nav-link {
     color: white;
}
.navbar-dark .navbar-nav .nav-link:hover {
     color: rgba(255,255,255,.5);
}
.alert {
    padding: 5px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
    z-index: 10;
}
