*{
    padding: 0;
    margin: 0;
    font-family: 'Viga','Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
.mx-auto{
    padding: 10px 0;
    height: 100px;
}
.sticky-top{
    box-shadow: 0 5px 5px black;
    z-index: 9;
}
.collapse ul li a{
    margin-right: 30px;
}
.main
{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}
.row{
    margin: 0;
}
.col-lg-6{
    padding: 0;
}
.profile{
    height: 50px;
    padding: 0 20px;
}
#sex{
    height: 50px;
    width: 50px;
    float: right;
}
#sex img{
    height: 100%;
    width: 100%;
}
#name{
    height: 100%;
    float: right;
    color: black;
    text-align: center;
    line-height: 50px;
    padding-right: 10px;
}
.foot{
    width: 100%;
    background: #FF8000;
    padding:  40px 40px 0 40px;
    margin-top: 100px;
}
.foot a{
    color: black;
}
.btn-outline-success{
    color: black;
    border: black solid 2px;
}
.btn-outline-success:hover{
    color: white;
    background: black;
    border: black solid 2px;
}
.foot a:hover{
    text-decoration: none;
    opacity: .7;
}
.foot p{
    color: black;
}
.col-sm-4{
    padding-left: 50px;
    min-width: 300px;
}
hr{
    margin: 1px;
}
label{
    padding-left: 5px;
}
button{
    margin: 20px 10px 5px 10px;
}
.row{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bg-color{
    background: #FF8000;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: black;
 }
 .navbar-dark .navbar-nav .nav-link {
     color: white;
 }
 .navbar-dark .navbar-nav .nav-link:hover {
     color: rgba(255,255,255,.5);
 }