*{
    padding: 0;
    margin: 0;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
body{
    height: 1500px;
}
.mx-auto{
    padding: 10px 0;
    height: 100px;
}
.collapse ul li a{
    margin-right: 30px;
}
.main
{
    width: 90%;
    margin: 0 auto;
}
