*{
    padding: 0;
    margin: 0;
    font-family: 'Viga','Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
.container-fluid{
    max-width: 500px;
    padding: 10px;
    border-radius: 20px;
    background: #E5E7E9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    height: 100px;
    margin: 10px 0;
}
.reset{
    font-size: 20px;
    font-weight: 400;
}
label{
    padding-left: 5px;
}
.col-sm-6{
   padding-top: 10px;
}
button{
    margin: 20px 10px 5px 10px;
}
.alert {
    padding: 5px;
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
input[type=checkbox]{
    margin-left: 10px;
}
